<html>
<head>
<style>
div.gallery {
  margin: 10px;
  float: left;
  width: 360px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>
  <div>
    <h1>What's New</h1> 
    <p>Our latest updates, from partnerships to products podcasts.
    <a
     target="_blank" href="https://newsroom.spotify.com/news/#whats-new">What's New
    </a>
  </p>
  </div>

<div class="gallery">
    <img src="assets/whats new 1.jpg" width="1600" height="1400">
    <a
    target="_blank" href="https://newsroom.spotify.com/2023-10-18/our-new-playlist-juniper-cultivates-a-space
    -for-the-next-generation-of-folk-music/">EverGreen
   </a>
  <div class="desc">Our New Playlist juniper Cultivates a Space for the Next Generation of Folk Music</div>
</div>

<div class="gallery">
    <img src="assets/whats new 2.jpg" width="600" height="400">
    <a
    target="_blank" href="https://newsroom.spotify.com/2023-10-18/a-peek-at-our-new-video-podcast-hits-the-spot/">Liner Notes
   </a>
  <div class="desc">A Peek at Our New Video Podcast, ‘Hits the Spot’</div>
</div>

<div class="gallery">
    <img src="assets/whats new 3.png" width="600" height="400">
    <a
    target="_blank" href="https://newsroom.spotify.com/2023-10-18/spotify-extends-unicef-partnership-donates-global-emergency-fund/">Supporting Mental Health
   </a>
  <div class="desc">Spotify Extends Existing Partnership With UNICEF and Donates to UNICEF’s Global Emergency Fund</div>
</div>

<div class="gallery">
  <img src="assets/whats new 5.jpg" width="600" height="400">
  <a
  target="_blank" href="https://newsroom.spotify.com/2023-10-17/spotify-island-roblox-soundsphere-quiz/">Play with your music
 </a>
<div class="desc">How Spotify Island Is Leveling Up by Gamifying Sound</div>
</div>
</body>

<html>
<head>
<style>
div.gallery {
  margin: 10px;
  float: left;
  width: 355px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>
  <div>
    <h1>Discover album you might like</h1> 
    <p>Trending Album 
    <a
     target="_blank" href="https://open.spotify.com/search/album/albums">See More
    </a>
  </p>
  </div>

<div class="gallery">
    <img src="assets/Troye_Sivan_-_Bloom_(Official_Album_Cover).png" width="600" height="400">
  <a
     target="_blank" href="https://open.spotify.com/artist/3WGpXCj9YhhfX11TToZcXP?si=KsUACLrdR9GrDEcEsE7dow&nd=1">Troye Sivan
    </a>
</div>

<div class="gallery">
    <img src="assets/midnight fusic album.png" width="600" height="400">
    <a
    target="_blank" href="https://open.spotify.com/artist/3qzktAIByIWbxVB5XjxpqL">Midnight Fusic
   </a>
</div>

<div class="gallery">
    <img src="assets/a3406586877_65.png" width="600" height="400">
    <a
    target="_blank" href="https://open.spotify.com/album/2AKqpztQvbre7hJEKWZ7zS">Punk Gong
   </a>
</div>

<div class="gallery">
  <img src="assets/Screenshot 2023-10-23 062929.png" width="600" height="400">
  <a
  target="_blank" href="https://open.spotify.com/playlist/0ZI99wCggG5A1xGMNF2KkE">Kica Eepy
 </a>
 </div>
</body>
