
<h1 class="Type__TypeElement-goli3j-0 fHEBbi">About Us</h1>
<style>
    body{
        text-align:Left; 
        padding: 100px;
    }
</style>
<body>
     <section>
                <p>
                    A Spotify "About" section offers your digital platform for introducing yourself to the world through music.
                </p>

                <p>
                    It's a chance to talk about your musical influences, favourite genres, and the tales behind your playlists.
                </p>

                <p>
                    This section allows you to express your personality and feelings, which will help listeners connect with your playlists.
                </p>

                <p>
                    Soundtrack your life with Spotify. Subscribe or listen for free.
                </p>
            </section>
</body>
<head>
    <style>
    table {
      width: 100%;
      border: 1px transparent;
    }
    </style>
    </head>
    <body>
    <h1>Spotify around the world</h1>
    
    <table>
      <tr>
        <td>
            Spotify Belgium
            Square de Meeus 37
            4th floor
            1000 Brussels
            Belgium
            office@spotify.com
        </td>

        <td>
            Spotify GmbH
            Unter den Linden 10
            10117 Berlin
            Germany
            office@spotify.com
        </td>

        <td>
            SPOTIFY SPAIN SL
            Paseo de Recoletos, 7-9
            28004 Madrid
            Spain
            office@spotify.com
        </td>

        <td>
            Spotify Finland Oy
            Merimiehenkatu 36 D
            FI-00150 Helsinki
            Finland
            office@spotify.com
        </td>

        <td>
            Spotify France SAS
            48 Rue la Bruyère
            75009
            Paris
            France
            office@spotify.com
        </td>

        <td>
            Spotify Italy S.r.l.
            Via Joe Colombo 4
            20124 Milano
            Italy
            office@spotify.com
        </td>

        <td>
            Spotify Netherlands
            Singel 540 3h
            1017AZ, Amsterdam
            Netherlands
            office@spotify.com
        </td>

        <td>
            Spotify Denmark ApS
            Vestergade 27, 1 th
            1456 København K
            Denmark
            office@spotify.com
        </td>
      </tr>
    </table>
    
    </body>